*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../111.jpg);
	height: 100vh;background-size: cover;
	background-position: center;

}
ul{
	float: left;
	list-style-type: none;
	margin: 15px;

}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 0px solid transparent;
	transition:  0.6s ease;
}
ul a:hover{
	background-color: #fff;
	color: black;


}
ul li.active a{
	background-color: #fff;
	color: black;

}
.title{
	position: absolute;
    top: 220px;
    left: 0px;
    transform: translate(30%,40%);
    
}
.title h1{
	color: #fff;
	font-size: 70px;


}